{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/update.css'%}">
	<title>Update</title>
</head>
<body>
<div class="center-column">
	<form method="POST">
		{% csrf_token %}

		{{ form.title }} 
			
	<div style="margin-left: 250px;">
				{{ form.complete }}
	</div>
 
		<input type="submit" name="Update Task" class="btn btn-success">
	</form>
</div>
</body>
</html>